.nav1 {
  background-color: #06994b;
  padding: 2px;
  margin: -10px -10px 0 -10px;
  width: 100%;
}


header .nav1 ul {
  display: flex;
  justify-content: start;
}

header .nav1 ul li {
  margin: 0 16px;
}

header .nav1 ul li a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

header .nav1 p {
  color: #fff;
  margin: 0;
}

.nav2 {
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav2 form {
  display: flex;
  align-items: center;
}

.nav2 form a {
  height: 42px;
  width: 42px;
  border: 1px solid #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 8px 8px 0;
}

.nav2 form a img {
  width: 20px;
  height: 20px;
}

.nav2 form input {
  background-color: #f0f0f5;
  border: solid 1px #b6b6b6;
  width: 300px;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 8px 0 0 8px;
}

.nav2 .carrinho a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 116, 56);
  height: 46px;
  border-radius: 8px 8px 8px 8px;
}

.nav2 .carrinho a h3.texto {
  border-radius: 8px 0 0 8px;
}

.nav2 .carrinho a img {
  width: 20px;
  height: 20px;
  padding: 0 10px;
}

.nav2 .carrinho a h3.texto {
  background-color: rgb(6, 153, 75);
  padding: 12px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.nav2 .carrinho a h3.quantidade {
  background-color: rgb(5, 133, 64);
  padding: 12px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.nav3 {
  background-color: #458dec;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.nav3 ul {
  display: flex;
  justify-content: space-evenly;
}

.nav3 ul li {
  padding: 15px;
}

.nav3 ul p {
  color: white;
  font-size: 30px;
}

.nav3 ul img {
  width: 30px;
  height: 30px;
  padding: 20px;
}


.dropdown .dropdown-content{
  display: none;
  z-index: 1;
}

.dropdown .dropdown-content a{
  color: white;
  font-weight: 300;
  font-size: 24px;
}

.nav3 ul .dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
}




