hr{
    margin-bottom: 20px;
    border: solid 1px rgb(199, 199, 199);
}

.view-carrinho {
  background-color: white;
  border-radius: 8px;
  margin: 50px 100px;
  padding: 30px;
}

.view-carrinho h1, h3{
    font-weight: 400;
    color: rgb(61, 61, 61);
}


.view-carrinho .legenda{
    display: flex;
    justify-content: space-between;
    ;
}

.view-carrinho #info{
    display: flex;
    justify-content: space-between;
}

.view-carrinho #info #produto, #descricao, #preco, #qtd, #total{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-carrinho #info #produto img{
    width: 60px;
}

.view-carrinho #info #qtd input{
    width: 50px;
    height: 30px;
}

.view-carrinho #info #qtd a{
    color: rgb(0, 153, 255);
    margin-top: 8px;
}

#total-final button{
    background-color: rgb(0, 140, 255);
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    width: 90px;
    font-size: 16px;
}

