footer {
  width: 100%;
  background-color: #363636;
  margin-top: 80px;
}

footer div.footer-container {  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer div.footer-container img {
  width: 360px;  
  margin: 24px;
}

footer div.footer-items {
  height: 48px;
  background-color: rgb(6, 153, 75);
}

footer div.footer-items .wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

footer div.footer-items .wrapper ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;  
}

footer div.footer-items .wrapper ul li a {    
  color: #fff;
  text-decoration: none;
  margin: auto 16px;
}

footer div.footer-items .wrapper ul li a:hover {
  color: #ddd;
}

footer div.copyright {
  padding: 8px 16px;
  background-color: rgb(5, 133, 64);
}

footer div.copyright div {
  padding: 8px;
}

footer div.copyright div p {
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
}

footer div.copyright div p a {  
  color: #fff;
  font-weight: bold;
}
