
@media screen and  (min-width: 0px) and (max-width: 770px){
  .nav2{
    flex-direction: column;
  }
  .nav2 .carrinho{
    display: none;
  }

}



@media screen and  (min-width: 0px) and (max-width: 900px){
  
  .content {
    margin: 0 40px;
  }

  .menu{
    margin: 0;
}

  .content .itens {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
  }
  
  .nav2 .carrinho a h3 {
    display: none;
    visibility: hidden;
  }

  header .nav3 ul li{
    display: none;
  }

  .menu .produtos {
    display: none;
  }

  .nav3{
    padding: 0;
  }

  .nav3 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .nav3 ul p {
    color: white;
    font-size: 30px;
    display: block !important;

  }

  .nav3 ul img {
    display: block !important;
  }

}

@media screen and (min-width: 901px) and (max-width: 2000px){
  .nav3 ul p {
    display: none;
  }

  .nav3 ul img {
    display: none;
  }
}
